/* q2.html stylesheet */

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}


/*    IDs    */

#nome {
    width: 350px;
}
#nascimento {
    width: 100px;
}
#endereco {
    width: 300px;
}
#bairro {
    width: 200px;
}
#cep {
    width: 150px;
}
#cidade {
    width: 200px;
}
#estado {
    width: 150px;
}